/*Sto sistemando la navbar e non riesco ancora a mettere la stellina al suo posto
non credo di essere lontano però :3 */

body{
  font-family: "Montserrat"
}

.bkg-green{
  background-color: #00C79E;
}

nav{
  background-color: #2E3D54;
  color:white;
}

.menu{
  border: 1px solid white;
  display: none;
  padding: 5px;
  border-radius: 3px;
  text-transform: uppercase;

}

.menu:hover{
  background-color: white;
  color:#2E4051;
}

.navright li{
  display: inline-block;
  padding: 0 15px;
  line-height: 82px;
  position: relative;
  left:300px;
}

.navright{
  position: relative;
}

.mynavbar{
  margin-top: 13px;
  display: inline-block;
}


.container80{
  width: 80%;
  margin: auto;
}

.profilepic{
  margin-top: 45px;
}

.header-text{
  color:white;
}

.header-text h1{
  font-size: 55px;
}

.hrstar{
  color: grey;
  border-bottom: 2px solid grey;
  width: 70%;
}

hr:after {
  content: "#&9829";
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
}

.header-text p{
  font-size: 20px;
}

.portpic>img{
  width:100%;
  margin: auto;
}

.portfolibloc{
  display: block;
  margin:auto;
}

.portfoliblock{
  margin: auto;
}

.portpic{
  margin: 30px 0;
}

.about-text{
  margin: 40px 0;
}

.about-text h2{
  color: white;
  font-size: 50px;
}

.about-text p{
  font-size: 18px;
}


.btn{
  display: block;
  margin: 15px auto;
  width: 200px;
  border: 1px solid white;
  padding: 15px;
  color:white;
}

.sendbtn{
  width:60px;
  border: 1px solid purple;
  background-color: purple;
  border-radius: 3px;
  padding: 10px;
}

.sendbtn a{
  color:white;
}

footer{
  margin-top: 70px;
  background-color: #2E3D54;
}

.ftr-txt{
  margin-top: 55px;
}

.label{
 font-size: 20px;
}

.label+p{
  color:white;
  margin-top: 30px;
}

.label+p i{
  width: 40px;
  height: 40px;
  border: 3px solid white;
  padding:10px;
  border-radius: 50%;
  margin: 0 1px;
}

.label+p i:hover{
  background-color: white;
  color:#2E3D54;
}

.copyright{
  background-color: #1F2834;
  color:white;
  height: 70px;
}

.copyright p{
  padding:15px;
}

.input input{
  display: block;
  margin: auto;
  border: none;
  border-bottom: 1px solid gray;
  width: 350px;
  padding: 15px 0;
}


@media screen and (max-width: 1000px) {
  .navright li{
    left:auto;
  }

}

@media screen and (max-width: 720px) {
  .menu{
    display: inline-block;
  }

  .navlogo{
    margin-left: 10px;
  }

  .navright li{
    display: none;
  }
}
