body{
  background-color: cyan;
}

.container80{
  width: 80%;
  margin: auto;
}

.container-fluid{
  height: 100px;
}

.navbar{
  height: 100px;
}

header{
  height: 100px;
}

.profilepic{
  margin-top: 50px;
}
